/* .background_img {
	background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg);
	background-repeat: repeat-x;
	object-fit: cover;
	max-width: 100%;
} */
